﻿@model System.Data.Entity.DbSet<SignageManagement.Data.Models.UserProfile>

<h3>Users</h3>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <input type="button" class="btn btn-primary" value="Create New" onclick="location.href='@Url.Action("Create", "User")'" />
</p>
<div class="container-fluid">
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayName("First Name")
            </th>
            <th>
                @Html.DisplayName("Last Name")
            </th>
            <th>
                @Html.DisplayName("Username")
            </th>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayName("Mobile")
            </th>
            <th>
                @Html.DisplayName("Created on")
            </th>
            <th>
                @Html.DisplayName("Modified on")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modified)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Reset Pwd", "ResetPassword", new { id = item.Id })
                    
                </td>
            </tr>
        }

    </table>
</div>
