﻿@model SignageManagement.WebAPI.Controllers.User.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "Change the Password for " + Model.Username;
}



@using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.Username)
    <div class="control-group">
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(m => m.Password, new { @class = "input-xxlarge", placeholder = "Password" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-xxlarge", placeholder = "Confirm Password" })
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-info" type="submit"><i class="icon-bar"></i>Change</button>
        @*        &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset"><i class="icon-undo"></i>Reset</button>*@
    </div>
}
